<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form assignment</h2>
    <ol class="breadcrumb">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="<%= assignments_url %>">List</a>
      </li>
      <li class="active">
        <strong>Detail</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="page-header">
    <%= link_to assignments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
    <% end %>
    <%= link_to edit_assignment_path(@assignment), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <% end %>
<!--    <h1>Show </h1>-->
  </div>

  <dl class="dl-horizontal">
      <dt>Nama:</dt>
      <dd><%= @assignment.nama %></dd>

      <dt>Position:</dt>
      <dd><%= @assignment.position %></dd>

      <dt>Satuan kerja:</dt>
      <dd><%= @assignment.satuan_kerja %></dd>

      <dt>Service type:</dt>
      <dd><%= @assignment.service_type %></dd>

      <dt>Spesifik output:</dt>
      <dd><%= @assignment.spesifik_output %></dd>

      <dt>Lokasi kerja:</dt>
      <dd><%= @assignment.assignment_place.name %></dd>

      <dt>Pihak ketiga:</dt>
      <dd><%= @assignment.pihak_ketiga %></dd>

      <dt>Lama penugasan:</dt>
      <dd><%= @assignment.lama_penugasan %></dd>

  </dl>
</div>
