<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Form User</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li>
        <a href="<%= users_url %>">List</a>
      </li>
      <li class="active">
        <strong>Form</strong>
      </li>
    </ol>
  </div>
</div>
<br>
<div id="content">
  <div class="panel panel-default">
    <div class="panel-heading">Form User</div>
    <div class="panel-body">
      <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Nama</label>
            <div class="col-sm-8">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-8">
              <%= f.text_field :username, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
              <%= f.collection_check_boxes :role_ids, Role.all, :id, :name do |m| %>
                <%= m.label class: 'checkbox-inline' do %>
                  <%= m.check_box class: 'checkbox-inline' %>
                  <%= m.text %>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Tempat Tugas</label>
            <div class="col-sm-8">
              <%= f.collection_select :assignment_place_id, AssignmentPlace.order(:id), :id, :name, {prompt: "Select a Place"}, {:class => 'form-control chosen-select'} %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
      $(function() {
          return $('.chosen-select').chosen({
              allow_single_deselect: true,
              no_results_text: 'No results matched',
              width: '512px'
          });
      });

      $(document).ready(function () {
          $('.manual').hide();
          $('.ldap').hide();
      });

      jQuery(function () {
          var area = $('#area').html();
          console.log(area);

          return $('#divisi').change(function () {
              var divisi, options;
              divisi = $('#divisi :selected').text();
              options = $(area).filter('optgroup[label="' + divisi + '"]').html();
              console.log(options);
              if (options) {
                  return $('#area').html(options);
              } else {
                  return $('#area').empty();
              }
          })
      });

      function changeDs(value) {
          if (value.val() == "Manual") {
              $('.ldap').hide();
              $('.manual').show();
              $('#users getLdapUser').disabled = false;
              $('#users username').required = true;
              $('#users password').required = true;
              $('#users email').required = true;
          } else if (value.val() == "LDAP") {
              $('.manual').hide();
              $('.ldap').show();
              $('#users getLdapUser').disabled = true;
              $('#users username').required = false;
              $('#users password').required = false;
              $('#users email').required = false;
          } else {
              $('.ldap').hide();
              $('.manual').hide();
              $('#users getLdapUser').disabled = false;
          }
      }

      $("#getLdapUser").select2();
      $("#divisi").select2({
          theme: "bootstrap"
      });
      $("#area").select2({
          theme: "bootstrap"
      });
  </script>
  
</div>