<div class="panel panel-default">
  <div class="panel-heading">Form history_assignment</div>
  <div class="panel-body">
<%= form_for(@history_assignment, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @history_assignment.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@history_assignment.errors.count, "error") %> prohibited this history_assignment from being saved:</h4>

      <ul>
      <% @history_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :parent_assignment_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :parent_assignment_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :by, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :by, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alasan, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :alasan, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :deskripsi, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :deskripsi, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :info, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :info, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status_info, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :status_info, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tertuju_info, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tertuju_info, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>